/* 
@import 'nib'
@import 'fonts'
global-reset()
*/
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
html {
  font-size: 16px;
  color: #000;
}
html .page {
  width: 1400px;
}
html .container {
  width: 940px;
  margin: auto;
  display: flex;
}
html .top-bar {
  font-size: 24px;
}
html .logo {
  font-family: 'cubanoregular', Arial, sans-serif;
  color: #fff;
  padding-left: 44px;
  letter-spacing: 3px;
}
html .main-header {
  background: url("imgs/banner.jpg") no-repeat;
  padding-top: 46px;
  height: 560px;
  color: #fff;
}
html .main-nav {
  padding-top: 3px;
}
html .main-nav ul {
  display: flex;
}
html .main-nav ul li {
  padding-left: 12px;
  padding-right: 12px;
  font-size: 18px;
}
html .banner {
  padding-top: 220px;
  width: 100%;
  text-align: center;
}
html .banner p {
  font-size: 28px;
  padding-bottom: 30px;
  margin-top: -72px;
}
html .banner h2 {
  font-size: 66px;
  padding-top: 2px;
  padding-bottom: 66px;
}
html .banner input[type='button'] {
  background-color: transparent;
  border: 3px solid #fff;
  border-radius: 3px;
  font-size: 20px;
  color: #fff;
  width: 242px;
  height: 68px;
}
html .banner input[type='button']:hover {
  background-color: transparent;
  font-weight: bolder;
  color: #fff;
  border: 3px solid #fff;
  filter: brightness(70%);
  filter: opacity(60%);
}
html .space-between {
  justify-content: space-between;
}
html .promo > .container {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}
html .promo > .container .promo-container.row2 {
  background-color: #fff;
  padding: top 40px;
}
html .promo > .container .promo-container.row2 padding-bottom 40px .row-img img {
  padding-top: 118px;
  padding-left: 39px;
}
html .promo > .container .promo-container.row2 h3 {
  font-size: 56px;
  padding: 36px 0px 36px 10px;
}
html .promo > .container .promo-container.row2 p {
  line-height: 24px;
  padding-left: 19px;
  padding-bottom: 33px;
}
html .promo > .container .promo-container.row {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
}
html .promo > .container .promo-container.row:last-child {
  background-color: #fafafa;
}
html .promo > .container .promo-container.row .row-text {
  padding: 0px 20px 20px 20px;
}
html .promo > .container .promo-container.row .row-text h3 {
  font-size: 56px;
  padding: 36px 0px 36px 10px;
}
html .promo > .container .promo-container.row .row-text p {
  line-height: 24px;
  padding-left: 19px;
  padding-bottom: 33px;
}
html .promo > .container .promo-container.row .row-text.second {
  margin-top: 57px;
  padding-left: 36px;
}
html .promo > .container .promo-container.row .row-text.second h3 {
  font-size: 56px;
  padding: 36px 0px 36px 10px;
}
html .promo > .container .promo-container.row .row-text.second p {
  line-height: 24px;
  padding-left: 19px;
  padding-bottom: 33px;
}
html .promo > .container .promo-container.row .row-img img {
  padding-top: 53px;
  padding-left: 15px;
}
html .promo > .container .promo-container.row .row-img.second img {
  padding-top: 118px;
  padding-left: 39px;
}
html .direction {
  padding-bottom: 100px;
}
html .direction > .container .row {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
  margin-right: -34px;
  margin-top: 59px;
}
html .direction .doubles {
  display: flex;
  flex-direction: column;
}
html .direction .doubles .dir-item {
  padding: 24px 54px 38px 27px;
h4
  font-weight: bold;
}
html .direction .doubles .dir-item .circle-icon {
  float: left;
  width: 80px;
  height: 80px;
  margin-right: 20px;
}
html .testimonials {
  background-color: #fafafa;
  text-align: center;
}
html .testimonials .container {
  padding-top: 30px;
  dislay: flex;
  flex-direction: column;
}
html .testimonials .container .page-header {
  height: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 50px 0px 20px 0px;
}
html .testimonials .container .page-header h3 {
  font-size: 55px;
  font-weight: normal;
}
html .testimonials .container .page-header span {
  font-size: 20px;
  font-weight: normal;
  color: #808080;
}
html .testimonials .container .ts-container {
  padding-top: 80px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
}
html .testimonials .container .ts-container .row {
  display: flex;
  flex-direction: row;
}
html .testimonials .container .ts-container .row .quotes {
  width: 640px;
  height: 170px;
  margin-top: 30px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #808080;
}
html .testimonials .container .ts-container .row .quotes blockquote {
  line-height: 32px;
  font-size: 24px;
  padding: 33px 78px 12px 80px;
}
html .testimonials .container .ts-container .row .quotes address {
  color: #00f;
}
html .testimonials .container .ts-container .row .photo {
  margin-left: 0px;
  margin-right: 29px;
}
html .testimonials .container .ts-container .row .photo .img-circle {
  float: left;
  width: 219px;
  height: 219px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 110px;
  margin-right: 20px;
}
html .testimonials .container .ts-container .row.two {
  flex-direction: reverse-row;
  padding-top: 36px;
}
html .testimonials .container .ts-container .row.two .photo.two {
  margin-right: 20px;
  margin-left: 20px;
}
html .testimonials .container .ts-container .row.two .photo.two img {
  margin-right: -12px;
  margin-top: 5px;
}
html .testimonials .container .ts-container .row.two .quotes.two {
  width: 640px;
  margin-left: 35px;
  margin-right: 16px;
  font-size: 18px;
  background-color: #fff;
  border: 1px solid #808080;
}
html .testimonials .container .ts-container .row.two .quotes.two blockquote {
  line-height: 32px;
  font-size: 24px;
  padding: 33px 78px 12px 80px;
}
html .testimonials .container .ts-container .row.two .quotes.two address {
  color: #00f;
}
html .media-labels .container {
  padding: 55px 0px 30px 146px;
}
html .team {
  background-color: #111;
  color: #fff;
}
html .team .container {
  padding: 40px 70px 79px 70px;
  display: flex;
  flex-direction: column;
  justify-content: base-line;
}
html .team .container .cards.row {
  display: flex;
  flex-direction: row;
  padding-top: 112px;
  padding-left: 29px;
}
html .team .container .cards.row .card-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
}
html .team .container .cards.row .card-item .img-wrapper {
  margin-left: 19px;
  margin-right: -24px;
  margin-top: 22px;
}
html .team .container .cards.row .card-item .card-info {
  flex-direction: column;
  text-align: center;
  padding: 15px 0px 26px 31px;
}
html .team .container .cards.row .card-item .card-info .name {
  font-weight: bold;
  padding-bottom: 5px;
}
html .team .container .cards.row .card-item .card-info .social {
  display: flex;
  flex-direction: row;
  margin-left: 35px;
  margin-top: 7px;
}
html .team .container .cards.row .card-item .card-info .social .soc-icon {
  display: block;
  margin: 0 auto;
  border-radius: 100%;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  padding: 20px;
  border: 3px #fff solid;
  padding-right: 10px;
}
html .team .container .cards.row .card-item .card-info .social .soc-icon.twitter:hover {
  background-color: #00aced;
}
html .team .container .cards.row .card-item .card-info .social .soc-icon.facebook:hover {
  background-color: #3b5998;
}
html .team .container .cards.row .card-item .card-info .social .soc-icon.pinterest:hover {
  background-color: #cb2028;
}
html .team .container .cards.row .card-item .card-info .social .soc-icon.google:hover {
  background-color: #d95232;
}
html .team .container .page-header {
  height: 40px;
  vertical-align: middle;
  text-align: center;
  padding: 50px 0px 20px 0px;
}
html .team .container .page-header h3 {
  font-size: 55px;
  font-weight: normal;
}
html .team .container .page-header span {
  font-size: 20px;
  font-weight: normal;
  color: #808080;
}
html .team .container .team-footer {
  width: 625px;
  line-height: 28px;
  font-size: 19px;
  padding: 22px 220px 17px 160px;
  text-align: center;
}
html footer {
  background-color: #7690c5;
  color: #fff;
}
html footer .container {
  padding-top: 70px;
  display: flex;
  flex-direction: row;
}
html footer .container .left.contacts {
  display: flex;
  flex-direction: column;
}
html footer .container .left.contacts h3 {
  font-size: 52px;
  padding-top: 25px;
  padding-bottom: 21px;
}
html footer .container .left.contacts span {
  width: 425px;
}
html footer .container .left.contacts .cont-info {
  display: flex;
  flex-direction: row;
}
html footer .container .left.contacts .cont-info .contacts {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}
html footer .container .left.contacts .cont-info .contacts li {
  padding: 45px 102px 1px 8px;
}
html footer .container .right.formes {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  padding-left: 40px;
}
html footer .container .right.formes .contact-form {
  margin-top: -20px;
  padding-left: 20px;
}
html footer .container .right.formes .contact-form .form-group {
  padding-top: 20px;
}
html footer .container .right.formes .contact-form input {
  width: 455px;
  height: 45px;
}
html footer .container .right.formes .contact-form textarea {
  width: 455px;
}
