/* 
@import 'nib'
@import 'fonts'
global-reset()
*/
* 
    margin 0
    padding 0
    list-style none
    text-decoration none


html
    font-size 16px
    color black
    .page
        width 1400px
    .container
        width 940px
        margin auto
        display flex
    .top-bar
        font-size 24px
    .logo
        font-family 'cubanoregular', Arial, sans-serif
        color white
        padding-left 44px
        letter-spacing 3px
    .main-header
        background url('imgs/banner.jpg') no-repeat
        padding-top 46px
        height 560px
        color white
    .main-nav
        padding-top 3px
    .main-nav ul
        display flex
        li
            padding-left 12px
            padding-right 12px
            font-size 18px
    .banner
        padding-top 220px
        width 100%
        text-align center
        p
            font-size 28px
            padding-bottom 30px
            margin-top -72px
        h2 
            font-size 66px
            padding-top 2px
            padding-bottom 66px

        input[type='button']
            background-color transparent
            border 3px solid white
            border-radius 3px
            font-size 20px
            color white
            width 242px
            height 68px

            &:hover 
                background-color transparent
                font-weight bolder
                color white
                border 3px solid white
                filter brightness(70%)
                filter opacity(60%)    


    .space-between
        justify-content space-between
     
    .promo > .container
        display flex
        flex-direction column
        padding-top 30px
        
        .promo-container.row2
            background-color white
            padding top 40px
            padding-bottom 40px

             .row-img img
                padding-top 118px
                padding-left 39px

            h3
                font-size 56px
                padding 36px 0px 36px 10px

            p
                line-height 24px
                padding-left 19px
                padding-bottom 33px


        .promo-container.row
            display flex
            flex-direction row
            padding-top 40px

            &:last-child
                background-color: #FAFAFA

            .row-text 
                padding 0px 20px 20px 20px

                h3
                    font-size 56px
                    padding 36px 0px 36px 10px

                p
                    line-height 24px
                    padding-left 19px
                    padding-bottom 33px

            .row-text.second
                margin-top: 57px;
                padding-left: 36px;

                h3
                    font-size 56px
                    padding 36px 0px 36px 10px

                p
                    line-height 24px
                    padding-left 19px
                    padding-bottom 33px

            .row-img img
                padding-top 53px
                padding-left 15px

            .row-img.second img
                padding-top 118px
                padding-left 39px


    .direction 
        padding-bottom 100px

        & > .container .row
            display flex
            flex-direction row
            padding-top 30px
            margin-right -34px
            margin-top 59px
            

        .doubles
            display flex
            flex-direction column

            .dir-item
                padding 24px 54px 38px 27px
                h4
                font-weight bold

                .circle-icon 
                    float left
                    width 80px
                    height 80px
                    margin-right 20px
                                       
    .testimonials
        background-color #FAFAFA
        text-align center
        .container
            padding-top 30px
            dislay flex
            flex-direction column
            .page-header
                height 40px
                vertical-align middle
                text-align center
                padding 50px 0px 20px 0px
                h3
                    font-size 55px
                    font-weight normal
                span
                    font-size 20px
                    font-weight normal
                    color grey

            .ts-container
                padding-top 80px
                padding-bottom 100px
                display flex
                flex-direction column
                .row
                    20px 0px 150px 0px
                    display flex
                    flex-direction row
                    .quotes
                        width 640px
                        height 170px
                        margin-top 30px
                        
                        font-size 18px
                        background-color white
                        border 1px solid grey
                        blockquote
                            line-height 32px
                            font-size 24px
                            padding 33px 78px 12px 80px
                        address
                            color blue
                    .photo
                        margin-left 0px
                        margin-right 29px
                        .img-circle 
                            float left
                            width 219px
                            height 219px
                            -moz-border-radius 100px
                            -webkit-border-radius 100px
                            border-radius 110px
                            margin-right 20px
                .row.two
                    flex-direction reverse-row
                    padding-top 36px
                    .photo.two
                        margin-right 20px
                        margin-left 20px
                        img
                            margin-right -12px
                            margin-top 5px
                    .quotes.two
                        width 640px
                        margin-left 35px
                        margin-right 16px
                        font-size 18px
                        background-color white
                        border 1px solid grey
                        blockquote
                            line-height 32px
                            font-size 24px
                            padding 33px 78px 12px 80px
                        address
                            color blue    
    .media-labels .container
        padding 55px 0px 30px 146px;
            
    .team
        background-color #111111
        color white
        .container 
            padding 40px 70px 79px 70px
            display flex
            flex-direction column
            justify-content base-line
            .cards.row
                display flex
                flex-direction row
                padding-top 112px
                padding-left 29px
                .card-item
                    display flex
                    flex-direction column
                    justify-content center
                    padding-left 25px
                    padding-right 25px
                    .img-wrapper
                        margin-left 19px
                        margin-right -24px
                        margin-top 22px
                        
                    .card-info
                        flex-direction column
                        text-align center
                        padding 15px 0px 26px 31px
                        .name
                            font-weight bold
                            padding-bottom 5px
                        .social
                            display flex
                            flex-direction row
                            margin-left 35px
                            margin-top 7px
                            .soc-icon 
                                display block
                                margin 0 auto                       
                                border-radius 100%
                                -moz-border-radius 100px
                                -webkit-border-radius 100px
                                padding 20px
                                border 3px white solid
                                padding-right 10px
                               
                                &.twitter:hover
                                    background-color #00aced
                                &.facebook:hover
                                    background-color #3b5998
                                &.pinterest:hover
                                    background-color #cb2028
                                &.google:hover
                                    background-color #d95232 
                               

            .page-header
                    height 40px
                    vertical-align middle
                    text-align center
                    padding 50px 0px 20px 0px
                    h3
                        font-size 55px
                        font-weight normal
                    span
                        font-size 20px
                        font-weight normal
                        color grey    
                
            .team-footer
                    width 625px
                    line-height 28px
                    font-size 19px
                    padding 22px 220px 17px 160px
                    text-align center

    footer 
        background-color #7690c5
        color white
        .container
            padding-top 70px
            display flex
            flex-direction row
            .left.contacts
                display flex
                flex-direction column
                h3
                    font-size 52px
                    padding-top 25px
                    padding-bottom 21px
                span
                    width 425px
                .cont-info
                    display flex
                    flex-direction row
                    .contacts
                        padding-top 25px
                        display flex
                        flex-direction column
                        li
                            padding 45px 102px 1px 8px
            .right.formes
                display flex
                flex-direction column
                padding-top 30px
                padding-left 40px
                .contact-form
                    margin-top -20px
                    padding-left 20px
                    .form-group
                        padding-top 20px
                    input
                        width 455px
                        height 45px
                    textarea 
                        width 455px
